@using System.ComponentModel
@using DetergentsApp.Models
@model IEnumerable<DetergentsApp.Models.ProductViewModel>

<h2>Admin View</h2>

@(Html.Kendo().Grid(Model)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.productID).Hidden();
        columns.Bound(c => c.EAN);
        columns.Bound(c => c.sheetTypeName).Title("Sheet Type");
        columns.Bound(c => c.productName).Title("Product Name");
        columns.Bound(c => c.productDescription).Title("Product Description");
        columns.ForeignKey(c => c.categoryID, (List<SelectListItem>)
            ViewBag.Category, "Value", "Text").Title("Category").Width(150);
        columns.Command(command =>
        {
            command.Edit();
            command.Destroy();
        }).Width(180);
    })
    .ToolBar(toolbar => { toolbar.Create(); })
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .PageSize(40)
        .Model(model =>
        {
            model.Id(p => p.productID);
            model.Field(p => p.productID).Editable(false);
        })
        .Group(group => group.Add("categoryID", typeof(string), ListSortDirection.Descending))
        .Read(read => read.Action("Products_Read", "Admin2"))
        .Create(create => create.Action("Products_Create", "Admin2"))
        .Update(update => update.Action("Products_Update", "Admin2"))
        .Destroy(destroy => destroy.Action("Products_Destroy", "Admin2"))
    )
    )

@(Html.Kendo().Grid<UserFileViewModel>()
    .Name("filesGrid")
    .Columns(columns =>
    {
        columns.Bound(f => f.Name).ClientTemplate("<a href='files/?id=#= Id #'>#= Name #</a>").Title("File name");
        columns.Bound(f => f.Id);
        columns.Bound(f => f.productID);
        columns.Bound(f => f.vendorID);
        columns.Bound(f => f.sheetTypeID);
        columns.Bound(f => f.adminApproved);
        columns.Select();


        columns.Command(command => { command.Destroy(); }).Width(180);
    })
    .Sortable()
    .Pageable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Model(m => m.Id(f => f.Id))
        .Read(read => read.Action("FilesReadAdmin", "FileUpload"))
        .Destroy(update => update.Action("FilesDestroyAdmin", "FileUpload"))
    ))

<script>
                  
                 
                    
                    $("#gridPopup").kendoGrid({
                                            pageable: true,
                                            height: 550,
                                            toolbar: ["create"],
                                            columns: [ { selectable: true, width:45},
                                                { field:"ProductName", title: "Product Name" },
                                                { field: "UnitPrice", title:"Unit Price", format: "{0:c}", width: "120px" },
                                                { field: "UnitsInStock", title:"Units In Stock", width: "120px" },
                                                { field: "Discontinued", width: "120px", editor: customBoolEditor },
                                                { command: [ "destroy"], title: "&nbsp;", width: "250px" }],
                                            editable: "popup"
                                        })
                                      
                                      $("#filesGrid").on("click", ".k-checkbox", function(e){
                                                          var grid = $("#filesGrid").data("kendoGrid");
                                                          var selectedRow = $(e.target).closest("tr");
                                                          grid.editRow(selectedRow);
                                              
                                    });
                    
                                    function customBoolEditor(container, options) {
                                        var guid = kendo.guid();
                                        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                                        $('<label class="k-checkbox-label" for="' + guid + '"></label>').appendTo(container);
                                    }

</script>