@using DetergentsApp.Models
@model IEnumerable<DetergentsApp.Models.ProductViewModel>

<h2>All Files</h2>

@(Html.Kendo().Grid<UserFileViewModel>()
    .Name("filesGrid")
    .Columns(columns =>
    {
        columns.Bound(f => f.Id);
        columns.Bound(f => f.Name).ClientTemplate("<a href='files/?id=#= Id #'>#= Name #</a>").Title("File name");

        columns.Bound(f => f.sheetTypeName);

        columns.Bound(f => f.productID);

        columns.Bound(f => f.vendorID);
        columns.Bound(f => f.adminApproved);

        columns.Command(command =>
        {
            command.Edit();
            command.Destroy();
        }).Width(250);
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Continue to delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
    .Sortable()
    .Pageable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Model(m => m.Id(f => f.Id))
        .Read(read => read.Action("FilesReadAll", "FileUpload"))
        .Update(update => update.Action("VendorFileUpdate", "FileUpload"))
        .Destroy(update => update.Action("FilesDestroyAdmin", "FileUpload"))
    ))

<script>

</script>