@using System.ComponentModel
@using DetergentsApp.Models
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Forbruger- og sikkerhedsdatablade</h1>
    <p class="lead">På denne side findes sikkerhedsdatablade og forbrugerdatablade på Salling Groups produkter.</p>
</div>

<div id="main-section-header" class="row">
    <h2 id="team-efficiency" class="col-xs-3">Products & Files</h2>
    <div style="clear:both;"></div>
</div>
@(Html.Kendo().Grid<ProductViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.productID).Hidden();
        columns.Bound(c => c.sheetTypeID).Hidden().Title("SheetType");
        columns.Bound(c => c.productName).Width(300);
        columns.Bound(c => c.productDescription).Width(230);
        columns.Bound(c => c.EAN).Width(230);
        columns.ForeignKey(c => c.categoryID, (List<SelectListItem>)
            ViewBag.Category, "Value", "Text").Title("Category").Width(150);


        columns.ForeignKey(c => c.vendorID, (List<SelectListItem>)
            ViewBag.Vendor, "Value", "Text").Title("Vendor ID").Width(150);


        columns.ForeignKey(c => c.CountryID, (List<SelectListItem>)
            ViewBag.Country, "Value", "Text").Title("Country").Width(150);

        columns.Bound(c => c.listOfFiles).ClientTemplate("#= SheetFilesAvailable(data) #");

        columns.Command(command =>
        {
            command.Edit().UpdateText("Save");
            command.Destroy();
            command.Custom("Show Files").Click("showFiles");
        }).Width(230);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
                             @* Refresh Button *@
                             <div class="refreshBtnContainer">
                                 <a href="\\#" class="k-pager-refresh k-link k-button k-button-icon" title="Refresh">
                                     <span class="k-icon k-i-reload"></span>
                                 </a>
                             </div>
                             @* Create button  *@
                             <a class='k-button k-grid-add' href='#'>Add new Article</a>
                             @* Search button *@
                             <span class="k-textbox k-grid-search k-display-flex">
                                 <input autocomplete="off" placeholder="Search..." title="Search..." class="k-input">
                                 <span class="k-input-icon">
                                     <span class="k-icon k-i-search"></span>
                                 </span>
                             </span>

                             <div class="toolbar">
                                 <label class="category-label" for="category">Data Sheet Types:</label>
                                 @(Html.Kendo().DropDownList()
                                     .Name("sheetTypeCategory")
                                     .DataTextField("Text")
                                     .DataValueField("Value")
                                     .AutoBind(true)
                                     .HtmlAttributes(new {style = "width: 150px;"})
                                     .DataSource(ds =>
                                     {
                                         ds.Read(read =>
                                             read.Action("sheetType_Categories", "Home"));
                                     }))

                             </div>
                             <div class="toolbar">
                                 <label class="country-label" for="country">Country:</label>
                                 @(Html.Kendo().DropDownList()
                                     .Name("country")
                                     .DataTextField("CountryName")
                                     .DataValueField("CountryID")
                                     .AutoBind(true)
                                     .Events(e => e.Change("countryChange"))
                                     .HtmlAttributes(new {style = "width: 150px;"})
                                     .DataSource(ds =>
                                     {
                                         ds.Read(read =>
                                             read.Action("Country", "Home"));
                                     }))

                             </div>
                          </text>);
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Resizable(r => r.Columns(true))
    .Sortable()
    .Selectable()
    .Search(s =>
    {
        s.Field(f => f.productName);
        s.Field(f => f.productDescription);
        s.Field(f => f.EAN);
        s.Field(f => f.categoryName);
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .PageSize(20)
        .Group(group => group.Add("categoryID", typeof(string), ListSortDirection.Descending))
        .Read(read => read.Action("Product_Read", "Home"))
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(c => c.productID);
            model.Field(p => p.vendorID).Editable(true);
        })
        .Create(update => update.Action("Products_Create_Update", "Home"))
        .Update(update => update.Action("Products_Create_Update", "Home"))
        .Destroy(update => update.Action("Products_Destroy", "Home"))
    ))

<script type="text/javascript">                
                function error_handler(e) {
                    if (e.errors) {
                        let message = "Errors:\n";
                        $.each(e.errors, function (key, value) {
                            if ('errors' in value) {
                                $.each(value.errors, function () {
                                    message += this + "\n";
                                });
                            }
                        });
                        alert(message);
                        location.reload();
                    }
                }
                      
                $(document).ready(function() 
                {
                    
                    var grid = $("#grid");
                    
                    $("#sheetTypeCategory").data("kendoDropDownList").select(0);
                    $("#country").data("kendoDropDownList").select(0);


                    // Add minus icon for collapse element which is open by default
                    $(".collapse.show").each(function(){
                        $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
                    });
            
                    // Toggle plus minus icon on show hide of collapse element
                    $(".collapse").on('show.bs.collapse', function(){
                        $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
                    }).on('hide.bs.collapse', function(){
                        $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
                    });
                    
                    
                    grid.find(".k-grid-toolbar").on("click", ".k-pager-refresh", function (e) 
                    {
                        e.preventDefault();
                        grid.data("kendoGrid").dataSource.read();
                    });
                                            
                    grid.find(".k-grid-toolbar").on("click", ".k-grid-add", function (e) 
                    {
                        e.preventDefault();
  
                    });            
    
                });
                
                function countryChange() {
                        var value = this.value(),
                		 	 grid = $("#grid").data("kendoGrid");
                
                        if (value) {
                            grid.dataSource.filter({ field: "CountryID", operator: "eq", value: parseInt(value) });
                        } else {
                            grid.dataSource.filter({});
                        }
                    }
                
                           
                    function showFiles(e) {
                        e.preventDefault();
                                var product = this.dataItem($(e.currentTarget).closest("tr"));
                                
                                var dropdownlist = $("#sheetTypeCategory").data("kendoDropDownList").value();
                                 
                             //   var sheetTypeId = dropdownlist.val();                      
                                window.location.href = "@Url.Action("UploadedFiles",
                                                            "FileUpload")?productID=" + product.productID + "&sheetTypeID=" + dropdownlist;
                        }
                        
                        
                        function SheetFilesAvailable(data) {

                               if (data.listOfFiles !== undefined && data.listOfFiles !== null){
                                    var template = "<ul>";
                                    console.log(data)
                                   
                                    for (var i = 0; i < data.listOfFiles.length; i++) 
                                    {
                                        var files = data.listOfFiles[i];
                                        template += kendo.format("<li>Product: {0} </li>", files.fileName) ;
                                    }
                                    template += "</ul>"
                                    return template;
                               }
                                    
                                  //  <li><a href="linkof file">filename</a></li>
                                    
                        }
                                 
   </script>


<style>
    .k-readonly {
        color: gray;
    }
    .jumbotron
    {
        background-image: url("../../Pictures/sallingPicture.jpg");

    }
    #grid .k-grid-toolbar
        {
            padding: .6em 1.3em .6em .4em;
        }
        .category-label
        {
            vertical-align: middle;
            padding-right: .5em;
        }
        #category
        {
            vertical-align: middle;
        }
        .refreshBtnContainer {
            display: inline-block;
        }
        .toolbar {
            float: right;
        }
</style>