@using DetergentsApp.Models
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Forbruger- og sikkerhedsdatablade</h1>
    <p class="lead">På denne side findes sikkerhedsdatablade og forbrugerdatablade på Salling Groups produkter.</p>
</div>

<div id="main-section-header" class="row">
    <h2 id="team-efficiency" class="col-xs-3">Products & Files</h2>
    <div style="clear:both;"></div>
</div>

<div id="products-orders-main-content" class="main-section-content">
    @(Html.Kendo().Grid<ProductViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.productID).Hidden();
            columns.Bound(c => c.title).Width(230);
            columns.Bound(c => c.productName).Width(300);
            columns.Bound(c => c.productDescription).Width(230);
            columns.Bound(c => c.EAN).Width(230);
            columns.ForeignKey(c => c.categoryID, (List<SelectListItem>)
                ViewBag.Category, "Value", "Text").Title("Category").Width(150);
            columns.Command(command =>
            {
                command.Edit().UpdateText("Save");
                command.Destroy();
                command.Select();
            }).Width(230);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create().Text("Add New Product");
            toolbar.Search();
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Pageable()
        .Resizable(r => r.Columns(true))
        .Sortable()
        .Selectable()
        .Search(s =>
        {
            s.Field(f => f.title);
            s.Field(f => f.productName);
            s.Field(f => f.productDescription);
            s.Field(f => f.EAN);
            s.Field(f => f.categoryID);
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .PageSize(20)
            .Read(read => read.Action("Product_Read", "Home"))
            .Events(events => events.Error("error_handler"))
            .Model(model => model.Id(c => c.productID))
            .Create(update => update.Action("Products_Create", "Home"))
            .Update(update => update.Action("Products_Update", "Home"))
            .Destroy(update => update.Action("Products_Destroy", "Home"))
        ))

    <script type="text/javascript">
                function error_handler(e) {
                    if (e.errors) {
                        let message = "Errors:\n";
                        $.each(e.errors, function (key, value) {
                            if ('errors' in value) {
                                $.each(value.errors, function () {
                                    message += this + "\n";
                                });
                            }
                        });
                        alert(message);
                        location.reload();
                    }
                }
    
                $(document).ready(function() {
    
                    // Add minus icon for collapse element which is open by default
                    $(".collapse.show").each(function(){
                        $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
                    });
            
                    // Toggle plus minus icon on show hide of collapse element
                    $(".collapse").on('show.bs.collapse', function(){
                        $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
                    }).on('hide.bs.collapse', function(){
                        $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
                    });
    
                });
            </script>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            På kommissionen pharmacos-website forefindes en sammenligningstabel mellem INCI-navnene, den europæiske farmakopé og CAS-numrene.
        </p>
        <p>
            <a class="btn btn-default" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2006:097:0001:0528:EN:PDF">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sikkerhedsdatabladene</h2>
        <p>Sikkerhedsdatabladene indeholder oplysninger om produkternes sikkerheds-, sundheds- og miljømæssige egenskaber. Det er disse, der anvendes i erhvervsmæssig sammenhæng.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>

</div>


<script>

  
</script>
<style>
    .k-readonly {
        color: gray;
    }
    .jumbotron
    {
        background-image: url("../../Pictures/sallingPicture.jpg");

    }
</style>