@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Forbruger- og sikkerhedsdatablade</h1>
    <p class="lead">På denne side findes sikkerhedsdatablade og forbrugerdatablade på Salling Groups produkter.</p>
</div>

<div class="search-section k-content">

    <h4>Categories:</h4>
    @(Html.Kendo().DropDownList()
        .Name("categories")
        .HtmlAttributes(new {style = "width:50%"})
        .OptionLabel("Select category...")
        .DataTextField("CategoryName")
        .DataValueField("CategoryId")
        .DataSource(source => { source.Read(read => { read.Action("Cascading_Get_Categories", "Home"); }); })
        )

    <h4 style="margin-top: 2em;">Products:</h4>
    @(Html.Kendo().DropDownList()
        .Name("products")
        .HtmlAttributes(new {style = "width:50%"})
        .OptionLabel("Select product...")
        .DataTextField("ProductName")
        .DataValueField("ProductID")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("Cascading_Get_Products", "Home")
                    .Data("filterProducts");
            })
                .ServerFiltering(true);
        })
        .Enable(false)
        .AutoBind(false)
        .CascadeFrom("categories")
        )
    <button class="k-button k-primary" id="get" style=" margin: 2px">Display files attached</button>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            På kommissionen pharmacos-website forefindes en sammenligningstabel mellem INCI-navnene, den europæiske farmakopé og CAS-numrene.
        </p>
        <p>
            <a class="btn btn-default" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2006:097:0001:0528:EN:PDF">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sikkerhedsdatabladene</h2>
        <p>Sikkerhedsdatabladene indeholder oplysninger om produkternes sikkerheds-, sundheds- og miljømæssige egenskaber. Det er disse, der anvendes i erhvervsmæssig sammenhæng.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>


<script>
    function filterOrders() {
        return {
            products: $("#products").val()
        };
    }

    function filterProducts() {
        return {
            categories: $("#categories").val()
        };
    }

    $(document).ready( function () {
        var categories = $("#categories").data("kendoDropDownList"),
            products = $("#products").data("kendoDropDownList"),

        $
        ("#get").click(function () {
            
            var categoryInfo = "\nCategory: { id: " + categories.value() + ", name: " + categories.text() + " }",
                productInfo = "\nProduct: { id: " + products.value() + ", name: " + products.text() + " }"


            alert("Order details:\n" + categoryInfo + productInfo);
        });
    });
</script>
<style>
    .k-readonly {
        color: gray;
    }
</style>