

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Forbruger- og sikkerhedsdatablade</h1>
    <p class="lead">På denne side findes sikkerhedsdatablade og forbrugerdatablade på Salling Groups produkter.</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            På kommissionen pharmacos-website forefindes en sammenligningstabel mellem INCI-navnene, den europæiske farmakopé og CAS-numrene.
        </p>
        <p>
            <a class="btn btn-default" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2006:097:0001:0528:EN:PDF">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sikkerhedsdatabladene</h2>
        <p>Sikkerhedsdatabladene indeholder oplysninger om produkternes sikkerheds-, sundheds- og miljømæssige egenskaber. Det er disse, der anvendes i erhvervsmæssig sammenhæng.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>