@using DetergentsApp.Models
<div class="demo-section k-content">
    <h2>Add Category</h2>
    <div id="validation-success"></div>
    @(Html.Kendo().Form<ProductViewModel>()
        .Name("exampleForm")
        .HtmlAttributes(new {action = "CategoryCreate", method = "POST"})
        .Layout("grid")
        .Grid(g => g.Cols(2).Gutter(20))
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .Items(items =>
        {
            items.AddGroup()
                .Label("Category")
                .Layout("grid")
                .Grid(g => g.Cols(1).Gutter(10))
                .Items(i =>
                {
                    i.Add()
                        .Field(f => f.categoryName)
                        .Label(l => l.Text("Category name:"));
                });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
        )
</div>

<script>
    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        e.preventDefault();
        $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>Form data is valid!</div>");
        window.location.href = "@Url.Action("CategoryCreate",
                                    "Categories")?categoryName=" + category.categoryName;
    }

    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>

<style>
    #example .k-content {
        max-width: 600px;
        width: 600px;
    }
</style>