@using System.ComponentModel
@using DetergentsApp.Models
<div class="tx-destination-summary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">


                @(Html.Kendo().Grid<ProductViewModel>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.productID).Width(200);
                        columns.Bound(c => c.productDescription).Width(230);
                        columns.Bound(c => c.EAN).Width(150);
                    })
                    .Pageable()
                    .Resizable(r => r.Columns(true))
                    .Sortable()
                    .Selectable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                        .PageSize(20)
                        .Group(group => group.Add("categoryID", typeof(string), ListSortDirection.Descending))
                        .Read(read => read.Action("DetailsRead", "Public"))
                        .Model(model => { model.Id(c => c.productID); })
                    ))
            </div>
            <div class="col-lg-4">
                @(Html.Kendo().TabStrip()
                    .Animation(false)
                    .Scrollable(true)
                    .Name("tabStripInfo")
                    .Items(items =>
                    {
                        items.Add()
                            .Text("<span class='d-none d-sm-block'>Overview<span>")
                            .Encoded(false)
                            .Selected(true)
                            .Content(@<text>
                                         @(Html.Kendo().Grid<UserFileViewModel>()
                                             .Name("filesGrid")
                                             .Columns(columns =>
                                             {
                                                 columns.Bound(f => f.Name).ClientTemplate("<a href='files/?id=#= Id #'>#= Name #</a>").Title("File name");
                                                 columns.Bound(f => f.productID);
                                                 columns.Bound(f => f.vendorID);
                                             })
                                             .Sortable()
                                             .Pageable()
                                             .DataSource(dataSource => dataSource
                                                 .Ajax()
                                                 .PageSize(10)
                                                 .Model(m => m.Id(f => f.Id))
                                                 .Read(read => read.Action("FilesRead", "FileUpload"))
                                             ))

                                      </text>);
                        items.Add()
                            .Text(" <span class='d-none d-sm-block'>Old files</span>")
                            .Encoded(false);
                    })
                    )

            </div>

        </div>
    </div>
</div>