@using System.ComponentModel
@using DetergentsApp.Models
@{
    ViewBag.Title = "Home";
}

<div id="main-section-header" class="row">
    <h2 id="team-efficiency" class="col-xs-3">Products & Files</h2>
    <div style="clear:both;"></div>
</div>
@(Html.Kendo().Grid<ProductViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.productID).Hidden();
        columns.ForeignKey(c => c.categoryID, (List<SelectListItem>)
            ViewBag.Category, "Value", "Text").Title("Category").Width(120);

        columns.Bound(c => c.productDescription).Width(350);
        columns.Bound(c => c.EAN).Width(150);
        columns.ForeignKey(c => c.CountryID, (List<SelectListItem>)
            ViewBag.Country, "Value", "Text").Title("Country").Width(120);

        columns.Bound(c => c.listOfFiles).ClientTemplate("#= SheetFilesAvailable(data) #").Title("Data Sheets");

        columns.Command(command => { command.Custom("Details").Click("showFiles"); }).Width(230);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
                             @* Search button *@
                             <span class="k-textbox k-grid-search k-display-flex">
                                 <input autocomplete="off" placeholder="Search..." title="Search..." class="k-input">
                                 <span class="k-input-icon">
                                     <span class="k-icon k-i-search"></span>
                                 </span>
                             </span>

                             <div class="toolbar">
                                 <label class="country-label" for="country">Country:</label>
                                 @(Html.Kendo().DropDownList()
                                     .Name("country")
                                     .DataTextField("CountryName")
                                     .DataValueField("CountryID")
                                     .AutoBind(true)
                                     .Events(e => e.Change("countryChange"))
                                     .HtmlAttributes(new {style = "width: 150px;"})
                                     .DataSource(ds =>
                                     {
                                         ds.Read(read =>
                                             read.Action("Country", "Home"));
                                     }))

                             </div>
                          </text>);
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Resizable(r => r.Columns(true))
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .Contains("Search")
            )
            .ForEnums(num => num.Clear()
                .IsEqualTo("Select")
            ))
    )
    .Sortable()
    .Selectable()
    .Search(s =>
    {
        s.Field(f => f.productDescription);
        s.Field(f => f.EAN);
        s.Field(f => f.categoryName);
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .PageSize(20)
        .Group(group => group.Add("categoryID", typeof(string), ListSortDirection.Descending))
        .Read(read => read.Action("Product_Read", "Public"))
        .Events(events => events.Error("error_handler"))
        .Model(model => { model.Id(c => c.productID); })
    ))

<script type="text/javascript">                
                function error_handler(e) {
                    if (e.errors) {
                        let message = "Errors:\n";
                        $.each(e.errors, function (key, value) {
                            if ('errors' in value) {
                                $.each(value.errors, function () {
                                    message += this + "\n";
                                });
                            }
                        });
                        alert(message);
                        location.reload();
                    }
                }
                      
                $(document).ready(function() 
                {
                    
                    var grid = $("#grid");
                    
                    $("#country").data("kendoDropDownList").select(0);
                    // Add minus icon for collapse element which is open by default
                    $(".collapse.show").each(function(){
                        $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
                    });
            
                    // Toggle plus minus icon on show hide of collapse element
                    $(".collapse").on('show.bs.collapse', function(){
                        $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
                    }).on('hide.bs.collapse', function(){
                        $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
                    });
                });
                
                function countryChange() {
                        var value = this.value(),
                		 	 grid = $("#grid").data("kendoGrid");
                
                        if (value) {
                            grid.dataSource.filter({ field: "CountryID", operator: "eq", value: parseInt(value) });
                        } else {
                            grid.dataSource.filter({});
                        }
                    }
     
                    function showFiles(e) {
                                            e.preventDefault();
                                            
                                                    var product = this.dataItem($(e.currentTarget).closest("tr"));
                                                     
                                                 //   var sheetTypeId = dropdownlist.val();                      
                                                    window.location.href = "@Url.Action("Details", "Public")?productID=" + product.productID + 
                                                                                "&productName=" + product.productName +
                                                                                "&EAN=" + product.EAN;
                                                                                
                                            }
                                
                        
                                               
                        function SheetFilesAvailable(data) {
                    //        if (($('#grid').find(data.listOfFiles)))
                    
                               if (data.listOfFiles !== undefined && data.listOfFiles !== null){
                                    var template = "<ul>";
                                    console.log(data)
                                   
                                    for (var i = 0; i < data.listOfFiles.length; i++) 
                                    {
                                        var files = data.listOfFiles[i];
                                        template += kendo.format("<li>{1}: {0} </li>", files.fileName, files.SheetType.sheetTypeName);
                                    }
                                    template += "</ul>"
                                    return template;
                               }
                                    
                        }
                                 
   </script>
<style>
   
</style>