@using DetergentsApp.Models
@{
    TempData["productID"] = ViewBag.ProductID;
}
@{
    TempData["sheetTypeID"] = ViewBag.SheetTypeID;
}

<h2>Upload files</h2>

@(Html.Kendo().Grid<UserFileViewModel>()
    .Name("filesGrid")
    .ToolBar(t => t.Template(
        @<text>
            @(Html.Kendo().Upload()
                .Name("files")
                .Events(e => e.Success("onUploadSuccess"))
                .Async(a => a.Save("Save", "FileUpload")
                    .AutoUpload(false)
                )
                )
         </text>
        ))
    .Columns(columns =>
    {
        columns.Bound(f => f.Name).ClientTemplate("<a href='files/?id=#= Id #'>#= Name #</a>").Title("File name");

        // Calculate the file size in KB, round it up and display it in a client template
        columns.Bound(f => f.DataLength).ClientTemplate("#= Math.ceil(DataLength / 1024) #").Title("File size in KB").Width(150);

        columns.Command(command => command.Destroy()).Width(100);
    })
    .Sortable()
    .Pageable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Model(m => m.Id(f => f.Id))
        .Read(read => read.Action("FilesRead", "FileUpload").Data("additionalInfo"))
        .Destroy(update => update.Action("FilesDestroy", "FileUpload"))
    ))

<script type="text/javascript">
    function onUploadSuccess() {
        // Force the rebinding of the Grid on successful upload
        $("#filesGrid").data("kendoGrid").dataSource.read();
    }
    
    function additionalInfo() {
    return {
        
    productID: getUrlVars()["productID"],
     
    sheetTypeID: getUrlVars()["sheetTypeID"]
    }
    }
    
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>